# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# Database
*.db
*.sqlite3

# ML / experiment tracking
mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
